<!--Flex Box for the top of the footer -->
<div class="flex flex-row gap-5  md:gap-20">
  <div>
    <ul>
        <li class="cursor-pointer">Study Plan</li>
        <li class="cursor-pointer">Events</li>
        <li class="cursor-pointer">Other</li>
        <li class="cursor-pointer">Resources</li>
    </ul>
  </div>
  <div>
    <ul>
        <li class="cursor-pointer">
            About this Site
        </li>
        <li>This is a WDD330 Project</li>

    </ul>
   </div>
   <div class="cursor-pointer">Back to the Top</div>
</div>
<!--Flex Box for the bottom of the footer -->
<div> 
    <div>©MyCopyright</div>
</div>
